body { background-color: #000; color: #fff; font-family: 'Inter', sans-serif; margin: 0; }
.content-pad { padding: 20px; max-width: 480px; margin: 0 auto; }

.glass-card { background: #111; border: 1px solid #333; border-radius: 12px; padding: 20px; margin-bottom: 20px; box-shadow: 0 4px 10px rgba(0,0,0,0.5); }

.netflix-input { width: 100%; background: #222; border: 1px solid #444; color: white; padding: 12px; border-radius: 8px; margin: 8px 0; box-sizing: border-box; font-size: 1rem; }
.netflix-btn { background: #00e5ff; color: black; width: 100%; padding: 15px; border: none; border-radius: 8px; font-weight: 800; margin-top: 15px; cursor: pointer; text-transform: uppercase; font-size: 1rem; letter-spacing: 1px; }

/* TABS */
.tab-container { display: flex; justify-content: space-around; border-bottom: 1px solid #333; margin-bottom: 20px; padding-bottom: 10px; }
.tab-item { color: #666; font-weight: bold; cursor: pointer; padding: 5px; }
.tab-item.active { color: #00e5ff; border-bottom: 2px solid #00e5ff; }

/* TOGGLES */
.btn-toggle { flex: 1; padding: 10px; background: #222; border: 1px solid #333; color: #888; cursor: pointer; border-radius: 6px; font-weight: bold; }
.active-yes { background: #46d369; color: black; border-color: #46d369; }
.active-no { background: #e50914; color: white; border-color: #e50914; }
.active-blue { background: #00e5ff; color: black; }